* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.back {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #1abc9c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 1rem;
}
.back:hover {
    cursor: pointer;
}
.gallery-cont {
    background-color: #f3a683;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.media-cont {
    height: 15rem;
    width: 15rem;
    border: 5px solid black;
    margin: 2rem;
}
.media {
    height: calc( 100% - 2rem - 2rem );
}
.media > * {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.action-btn {
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-btn:hover {
    cursor: pointer;
}
.download {
    background-color: #ff6b6b;
}
.delete {
    background-color: #778beb;
}